*, *::after, *::before {
    box-sizing: border-box;
}

body{
margin: 0;
padding: 0;
}
a {
    text-decoration: none;
    color: unset;
}
a:hover {
    text-decoration: none;
    color: unset; 
}

.header {
    width: 100%;
    background-color: #E9ECEF;
}

.header > a {
    border: 1px solid rgba(128, 128, 128, 0.486);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.548);
    transition: 0.3s;
    color: grey;
}

.header > a:hover{
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(128, 128, 128, 0.445);
    border: 1px solid rgb(219, 219, 219);
    background-color: white;
    color: black
}
.header > a:active{
    margin-top: 1px;
    margin-bottom: -1px;
}
.active {
    background-color: white !important;
    color: black !important;
}

.validated textarea:required:invalid,
.validated input:required:invalid {
    border-color: red;
}